
<% if is_user_authenticated? %>

  <div class="row">
    <div class="span4" id="user_info">
      <div class="well">
        <%= render 'shared/user_info' %>
      </div>
      <div class="well">
        <%= render 'shared/posts_create' %>
      </div>
    </div>
    <div class="span8" id="user_feed">
      <div class="feed_header">My Feed</div>
      <%= render 'shared/user_feed' %>
    </div>
  </div>
<% else %>
  Please log in to see more!
<% end %>


