<div class="row" id="main_profile">
  <div class="well">
    <div class="span8">
      <%= @user.email %>
    </div>
    <div class="span3">
      FOLLOW!
    </div>
  </div>
</div>

<div class="row">
  <div class="well">
    <%= render 'shared/user_feed' %>
  </div>
</div>
