<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_area :content, :id => "tweet-box",  :placeholder => "What's on your mind?"  %>
  </div>
  <div class="actions">
    <%= f.submit "Tweet!", :class => "btn btn-primary", :id => "btn-tweet" %>
  </div>
<% end %>
