<ul id="user_feed_list">
  <% @posts.each do |post| %>
    <li class="post">
      <div>
        <b><%= post.user.name %></b> - <%= post.user.email %><br />
        <i><%= post.content %></i>
      </div>
    </li>
  <% end %>
</ul>
